In [1]:
import pandas as pd
import numpy as np

from modules.utils.utils import read_json , initialize_tables_in_db, load_to_postgres, build_connection_engine
from pathlib import Path
import matplotlib.pyplot as plt

p = Path(".")

config = read_json(p / "modules"/"config.json")
table_schema = 'remote'
conn_s = build_connection_engine(config, 's')

In [3]:
dimsalesterritory = pd.read_sql_query(f"select * from remote.dimsalesterritory ",con=conn_s)

df = dimsalesterritory.copy()

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11 entries, 0 to 10
Data columns (total 5 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   SalesTerritoryKey           11 non-null     float64
 1   SalesTerritoryAlternateKey  11 non-null     float64
 2   SalesTerritoryRegion        10 non-null     object
 3   SalesTerritoryCountry       10 non-null     object
 4   SalesTerritoryGroup         10 non-null     object
dtypes: float64(2), object(3)
memory usage: 568.0+ bytes

In [6]:
df[~ df.SalesTerritoryRegion.isna()]

,SalesTerritoryKey,SalesTerritoryAlternateKey,SalesTerritoryRegion,SalesTerritoryCountry,SalesTerritoryGroup
0,1.0,1.0,Northwest,United States,North America
1,2.0,2.0,Northeast,United States,North America
2,3.0,3.0,Central,United States,North America
3,4.0,4.0,Southwest,United States,North America
4,5.0,5.0,Southeast,United States,North America
5,6.0,6.0,Canada,Canada,North America
6,7.0,7.0,France,France,Europe
7,8.0,8.0,Germany,Germany,Europe
8,9.0,9.0,Australia,Australia,Pacific
9,10.0,10.0,United Kingdom,United Kingdom,Europe

In [7]:
df.SalesTerritoryKey.is_unique

True