In [1]:
import pandas as pd
import numpy as np

from modules.utils.utils import read_json , initialize_tables_in_db, load_to_postgres, build_connection_engine
from pathlib import Path
import matplotlib.pyplot as plt
import seaborn as sns

p = Path(".")

config = read_json(p / "modules"/"config.json")
table_schema = 'remote'
conn_s = build_connection_engine(config, 's')

In [2]:
dimaccounts = pd.read_sql_query(f"select * from remote.dimaccounts ",con=conn_s)

df = dimaccounts.copy()

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 99 entries, 0 to 98
Data columns (total 10 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   AccountKey                     99 non-null     float64
 1   ParentAccountKey               96 non-null     float64
 2   AccountCodeAlternateKey        99 non-null     float64
 3   ParentAccountCodeAlternateKey  96 non-null     float64
 4   AccountDescription             99 non-null     object
 5   AccountType                    98 non-null     object
 6   Operator                       99 non-null     object
 7   CustomMembers                  1 non-null      object
 8   ValueType                      99 non-null     object
 9   CustomMemberOptions            0 non-null      object
dtypes: float64(4), object(6)
memory usage: 7.9+ KB

In [4]:
df.head()

,AccountKey,ParentAccountKey,AccountCodeAlternateKey,ParentAccountCodeAlternateKey,AccountDescription,AccountType,Operator,CustomMembers,ValueType,CustomMemberOptions
0,1.0,NaN,1.0,NaN,Balance Sheet,None,~,None,Currency,None
1,2.0,1.0,10.0,1.0,Assets,Assets,+,None,Currency,None
2,3.0,2.0,110.0,10.0,Current Assets,Assets,+,None,Currency,None
3,4.0,3.0,1110.0,110.0,Cash,Assets,+,None,Currency,None
4,5.0,3.0,1120.0,110.0,Receivables,Assets,+,None,Currency,None

In [5]:
df.columns

Index(['AccountKey', 'ParentAccountKey', 'AccountCodeAlternateKey',
       'ParentAccountCodeAlternateKey', 'AccountDescription', 'AccountType',
       'Operator', 'CustomMembers', 'ValueType', 'CustomMemberOptions'],
      dtype='object')

In [23]:
# check wether the accountKey is unique
df.AccountKey.is_unique

True

In [25]:
df.AccountKey

0       1.0
1       2.0
2       3.0
3       4.0
4       5.0
      ...
94     97.0
95     98.0
96     99.0
97    100.0
98    101.0
Name: AccountKey, Length: 99, dtype: float64