In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import sqlite3

con = sqlite3.connect('../remote.db')

In [2]:
dimsalesterritory = pd.read_sql_query(f"select * from dimsalesterritory ",con=con)

df = dimsalesterritory.copy()

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11 entries, 0 to 10
Data columns (total 6 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   index                       11 non-null     int64
 1   SalesTerritoryKey           11 non-null     float64
 2   SalesTerritoryAlternateKey  11 non-null     float64
 3   SalesTerritoryRegion        10 non-null     object
 4   SalesTerritoryCountry       10 non-null     object
 5   SalesTerritoryGroup         10 non-null     object
dtypes: float64(2), int64(1), object(3)
memory usage: 656.0+ bytes

In [4]:
df[~ df.SalesTerritoryRegion.isna()]

,index,SalesTerritoryKey,SalesTerritoryAlternateKey,SalesTerritoryRegion,SalesTerritoryCountry,SalesTerritoryGroup
0,0,1.0,1.0,Northwest,United States,North America
1,1,2.0,2.0,Northeast,United States,North America
2,2,3.0,3.0,Central,United States,North America
3,3,4.0,4.0,Southwest,United States,North America
4,4,5.0,5.0,Southeast,United States,North America
5,5,6.0,6.0,Canada,Canada,North America
6,6,7.0,7.0,France,France,Europe
7,7,8.0,8.0,Germany,Germany,Europe
8,8,9.0,9.0,Australia,Australia,Pacific
9,9,10.0,10.0,United Kingdom,United Kingdom,Europe

In [5]:
df.SalesTerritoryKey.is_unique

True