In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import sqlite3
from pandas_profiling import ProfileReport



con = sqlite3.connect('../remote.db')

In [2]:
dimaccounts = pd.read_sql_query(f"select * from dimaccounts ",con=con)

df = dimaccounts.copy()

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 99 entries, 0 to 98
Data columns (total 11 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   index                          99 non-null     int64
 1   AccountKey                     99 non-null     float64
 2   ParentAccountKey               96 non-null     float64
 3   AccountCodeAlternateKey        99 non-null     float64
 4   ParentAccountCodeAlternateKey  96 non-null     float64
 5   AccountDescription             99 non-null     object
 6   AccountType                    98 non-null     object
 7   Operator                       99 non-null     object
 8   CustomMembers                  1 non-null      object
 9   ValueType                      99 non-null     object
 10  CustomMemberOptions            0 non-null      object
dtypes: float64(4), int64(1), object(6)
memory usage: 8.6+ KB

In [11]:
df.head()

,index,AccountKey,ParentAccountKey,AccountCodeAlternateKey,ParentAccountCodeAlternateKey,AccountDescription,AccountType,Operator,CustomMembers,ValueType,CustomMemberOptions
0,0,1.0,NaN,1.0,NaN,Balance Sheet,None,~,None,Currency,None
1,1,2.0,1.0,10.0,1.0,Assets,Assets,+,None,Currency,None
2,2,3.0,2.0,110.0,10.0,Current Assets,Assets,+,None,Currency,None
3,3,4.0,3.0,1110.0,110.0,Cash,Assets,+,None,Currency,None
4,4,5.0,3.0,1120.0,110.0,Receivables,Assets,+,None,Currency,None

In [12]:
df.columns

Index(['index', 'AccountKey', 'ParentAccountKey', 'AccountCodeAlternateKey',
       'ParentAccountCodeAlternateKey', 'AccountDescription', 'AccountType',
       'Operator', 'CustomMembers', 'ValueType', 'CustomMemberOptions'],
      dtype='object')

In [13]:
# check wether the accountKey is unique
df.AccountKey.is_unique

True

In [14]:
df.AccountKey

0       1.0
1       2.0
2       3.0
3       4.0
4       5.0
      ...
94     97.0
95     98.0
96     99.0
97    100.0
98    101.0
Name: AccountKey, Length: 99, dtype: float64

In [6]:
df.AccountDescription

0                              Balance Sheet
1                                     Assets
2                             Current Assets
3                                       Cash
4                                Receivables
                       ...
94                                     Units
95                        Average Unit Price
96                            Square Footage
97    Current Installments of Long-term Debt
98                               Trade Sales
Name: AccountDescription, Length: 99, dtype: object