In [1]:
import pandas as pd

import matplotlib.pyplot as plt
import seaborn as sns
import sqlite3


sqlite3.connect('remote.db')
conn_s = sqlite3.connect('remote.db')

In [3]:
dimcustomers = pd.read_sql_query(f"select * from dimcustomer ",con=conn_s)

df = dimcustomers.copy()

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 18484 entries, 0 to 18483
Data columns (total 29 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   CustomerKey           18484 non-null  float64
 1   GeographyKey          18484 non-null  float64
 2   CustomerAlternateKey  18484 non-null  object
 3   Title                 101 non-null    object
 4   FirstName             18484 non-null  object
 5   MiddleName            10654 non-null  object
 6   LastName              18484 non-null  object
 7   NameStyle             18484 non-null  float64
 8   BirthDate             18484 non-null  object
 9   MaritalStatus         18484 non-null  object
 10  Suffix                3 non-null      object
 11  Gender                18484 non-null  object
 12  EmailAddress          18484 non-null  object
 13  YearlyIncome          18484 non-null  float64
 14  TotalChildren         18484 non-null  float64
 15  NumberChildrenAtHome  18484 non-null  float64
 16  EnglishEducation      18484 non-null  object
 17  SpanishEducation      18484 non-null  object
 18  FrenchEducation       18484 non-null  object
 19  EnglishOccupation     18484 non-null  object
 20  SpanishOccupation     18484 non-null  object
 21  FrenchOccupation      18484 non-null  object
 22  HouseOwnerFlag        18484 non-null  float64
 23  NumberCarsOwned       18484 non-null  float64
 24  AddressLine1          18484 non-null  object
 25  AddressLine2          312 non-null    object
 26  Phone                 18484 non-null  object
 27  DateFirstPurchase     18484 non-null  object
 28  CommuteDistance       18484 non-null  object
dtypes: float64(8), object(21)
memory usage: 4.1+ MB

In [ ]:
df.head()

,CustomerKey,GeographyKey,CustomerAlternateKey,Title,FirstName,MiddleName,LastName,NameStyle,BirthDate,MaritalStatus,...,EnglishOccupation,SpanishOccupation,FrenchOccupation,HouseOwnerFlag,NumberCarsOwned,AddressLine1,AddressLine2,Phone,DateFirstPurchase,CommuteDistance
0,11000.0,26.0,AW00011000,None,Jon,V,Yang,0.0,1971-06-10 00:00:00,M,...,Professional,Profesional,Cadre,1.0,0.0,3761 N. 14th St,None,1 (11) 500 555-0162,19/01/11,1-2 Miles
1,11001.0,37.0,AW00011001,None,Eugene,L,Huang,0.0,1976-10-05 00:00:00,S,...,Professional,Profesional,Cadre,0.0,1.0,2243 W St.,None,1 (11) 500 555-0110,15/01/11,0-1 Miles
2,11002.0,31.0,AW00011002,None,Ruben,None,Torres,0.0,1971-09-02 00:00:00,M,...,Professional,Profesional,Cadre,1.0,1.0,5844 Linden Land,None,1 (11) 500 555-0184,2011-07-01 00:00:00,2-5 Miles
3,11003.0,11.0,AW00011003,None,Christy,None,Zhu,0.0,14/08/73,S,...,Professional,Profesional,Cadre,0.0,1.0,1825 Village Pl.,None,1 (11) 500 555-0162,29/12/10,5-10 Miles
4,11004.0,19.0,AW00011004,None,Elizabeth,None,Johnson,0.0,1979-05-08 00:00:00,S,...,Professional,Profesional,Cadre,1.0,4.0,7553 Harness Circle,None,1 (11) 500 555-0131,23/01/11,1-2 Miles

In [ ]:
df.columns

Index(['CustomerKey', 'GeographyKey', 'CustomerAlternateKey', 'Title',
       'FirstName', 'MiddleName', 'LastName', 'NameStyle', 'BirthDate',
       'MaritalStatus', 'Suffix', 'Gender', 'EmailAddress', 'YearlyIncome',
       'TotalChildren', 'NumberChildrenAtHome', 'EnglishEducation',
       'SpanishEducation', 'FrenchEducation', 'EnglishOccupation',
       'SpanishOccupation', 'FrenchOccupation', 'HouseOwnerFlag',
       'NumberCarsOwned', 'AddressLine1', 'AddressLine2', 'Phone',
       'DateFirstPurchase', 'CommuteDistance'],
      dtype='object')

In [ ]:
df.describe()

,CustomerKey,GeographyKey,NameStyle,YearlyIncome,TotalChildren,NumberChildrenAtHome,HouseOwnerFlag,NumberCarsOwned
count,18484.000000,18484.000000,18484.0,18484.000000,18484.000000,18484.000000,18484.000000,18484.000000
mean,20241.500000,257.956287,0.0,57305.777970,1.844352,1.004058,0.676369,1.502705
std,5336.015523,196.531062,0.0,32285.841703,1.612408,1.522660,0.467874,1.138394
min,11000.000000,2.000000,0.0,10000.000000,0.000000,0.000000,0.000000,0.000000
25%,15620.750000,62.000000,0.0,30000.000000,0.000000,0.000000,0.000000,1.000000
50%,20241.500000,240.000000,0.0,60000.000000,2.000000,0.000000,1.000000,2.000000
75%,24862.250000,345.000000,0.0,70000.000000,3.000000,2.000000,1.000000,2.000000
max,29483.000000,654.000000,0.0,170000.000000,5.000000,5.000000,1.000000,4.000000

In [ ]:
df.CustomerKey.is_unique

True